:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-purple: #4b145b;
  --clr-red-special: #b4345c;
  --clr-grey-special: #eae6eb;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --card: 0px 5px 5px 5px rgb(0,0,0,0.2);
  /* --max-width: 1170px;
  --fixed-width: 920px; */
  --clear-pink:#f28ab2;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
}

main{
  width: 90vw;
  margin: 0 auto;
}

ul{
  list-style-type: none ;
}

a{
  text-decoration: none;
}

nav {
  background-color: var(--clr-green-light);
  margin-bottom: 1rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
nav h3 {
  font-size: 2rem;
  color: var(--clr-white);
}


.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
}

/* side content */
.side-content{
  box-shadow: var(--card);
}

.photo-container{
  position: relative;
  object-fit: cover;
}
.photo {
  width: 100%;
}
.name {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 1.5rem;
  color: black;
}

.about-me {
  margin-top: 1rem;
  padding-left: 1rem;
}
.about-me .left-flex-item {
  display: flex;
}
.about-me .left-flex-item .left-flex{
  display: flex;
}
.left-flex i {
  font-size: 1.75rem;
  color: var(--clr-primary-3);
}
.left-flex span{
  font-size: 1rem;
  margin-left: 1rem;
}
.left-flex a{
  font-size: 1rem;
  margin-left: 1rem;
}
.info{
  display: flex;
  justify-content: star;
  align-items: center;
}
.info i {
  font-size: 1.75rem;
  color: var(--clr-primary-3);
}
.info a {
  font-size: 1rem;
  margin-left: 1rem;
}

.skill {
  margin: 1rem;
}
.skill-log {
  display: flex;
  flex-direction: column;
}
.skill-log .left-flex-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.skill-log .left-flex-item .left-flex{
  display: flex;
}
.skill-log .left-flex-item .left-flex img{
  height: 40px;
  width: 40px;
  object-fit: contain;
}
.skill-log .left-flex-item button{
  margin-left: 1.5rem;
  color:var(--clr-white);
  border:transparent;
  border-color: transparent;
  background-color: var(--clear-pink);
  font-size: 1.25rem;
  border-radius: 50%;
  cursor: pointer;
}
.plus-minus-button{
  margin-top: 3px;
}
.skill-log .left-flex-item button:focus{
  outline: none;
}
.framework{
  height: 2rem;
  background-color: var(--clr-primary-8);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.framework:hover{
  background-color: var(--clr-primary-5);
}
.framework img{
  height: 80%;
  object-fit: contain;
  border-radius: var(--radius);
  margin: 0 1rem;
}
.title {
  display: flex;
  justify-content: start;
  align-items: center;
}
.title i{
  font-size: 1.75rem;
  color: var(--clr-primary-3);
}
.title span{
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 1rem;
}


.language{
  margin: 1rem;
}
.language p{
  font-size: 1.25rem;
}

/* right content */
.right-content{
  margin-bottom: 1rem;
  box-shadow: var(--card);
  padding: 1rem;
}
.right-content .title i{
  font-size: 2.5rem;
}
.right-content .title span{
  font-weight: bold;
  font-size: 1.5rem;
}
.work-container > div{
  padding-top: 1rem;
}
.work-container p{
  font-size: 1.25rem;
}
.flex-item{
  display: flex;
  margin-bottom: 1rem;
}
.flex{
  align-self: center;
}
.flex i{
  font-size: 3rem;
  color: var(--clr-primary-3);
}
.flex span{
  font-size: 1.25rem;
  margin-left: 1rem;
}
.education-container p{
  font-size: 1.25rem;
}
.education-container h3{
  margin-top:-1rem ;
}


/* project section */
.project-name button{
  margin: 0 1rem;
  cursor: pointer;
  background-color: var(--clr-primary-5);
  border: transparent;
  border-color: transparent;
  padding: 10px;
  border-radius: var(--radius);
  color: var(--clr-white);
  font-size: 1rem;
  margin-bottom: 1rem ;
}
.project-name button:hover{
  background-color: var(--clr-primary-3);
}
.project-name button:focus{
  outline: none;
}
.detail-project{
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: var(--dark-shadow);
}
.project-photo img{
  margin: 1rem auto;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}
.detail-project img:hover{
  box-shadow: var(--dark-shadow);
}
.project-photo {
  display: flex;
  flex-direction: column;
  box-shadow: var(--card);
  border-radius: var(--radius);
}
.project-photo a {
  margin: 1rem auto;
  padding: 1rem;
  color: var(--clr-white);
  border-radius: 0.75rem;
  background-color: var(--clr-grey-3);
  font-weight: bold;
}
.project-photo a:hover{
  color: var(--clear-pink);
}
.project-description {
  padding: 1rem;
  border-radius: var(--radius);
}
.project-description p {
  font-size: 1rem;
  padding: 10px 0;
}

@media(max-width:800px){
  .section {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media(max-width:600px){
  .detail-project {
    display: grid;
    grid-template-columns: 1fr;
  }
}